header, nav{
  background-color: #31525B;
  display: flex;
  justify-content: space-around;
  padding: 0 24px 0 0;
}

header h1, h2{
  color: white;
}

header a{
  text-decoration: none;
}

nav{
  padding: 0 50px 0 0;
}